<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags always come first -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous">
        <link href="css/bootstrap-ext.css" rel="stylesheet">
        <!-- jQuery first, then Tether, then Bootstrap JS. -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js" integrity="sha384-THPy051/pYDQGanwU6poAc/hOdQxjnOEXzbT+OuUAFqNqFjL+4IGLBgCJC3ZOShY" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js" integrity="sha384-Plbmg8JY28KFelvJVai01l8WyZzrYWG825m+cZ0eDDS1f7d/js6ikvy1+X+guPIB" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/js/bootstrap.min.js" integrity="VjEeINv9OSwtWFLAtmc4JCtEJXXBub00gtSnszmspDLCtC0I4z4nqz7rEFbIZLLU" crossorigin="anonymous"></script>
        <script src="js/index.js"></script>
    </head>
    <body onload="load();">

      <%console.log("Monitored Sites: ") %>
      <%console.log(monitored_sites)%>

        <div class="container">

            <div class="col-md-9">
                <div class="title-container">
                    <h4 class="display-4"></img><%=title %></h4>
                    <h5>
                        <small class="text-muted">Simple, self-hosted web monitoring.</small>
                    </h5>
                </div>
                <div class="alert alert-success" role="alert">
                    <strong>Well done!</strong>
                    You successfully read this important alert message.
                </div>

                <div class="card">
                    <div class="card-block card-block-no-bottom-pad">
                        <b>Update Interval</b>
                        <hr class="no-bottom-margin"></hr>
                    </div>
                    <div class="card-block">
                        <form action="/setupdateinterval" method="post" class="form-inline">
                            <div class="form-group">
                                <label class="sr-only" for="exampleInputAmount">Update Interval</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="update_interval" name="update_interval" placeholder="Update Interval">
                                    <div class="input-group-addon">Seconds</div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">Set Update Interval</button>
                        </form>
                    </div>
                </div>

                <div class="card">
                    <div class="card-block card-block-no-bottom-pad">
                        <b>Slack Details</b>
                        <hr class="no-bottom-margin"></hr>
                    </div>
                    <div class="card-block">
                        <form action="/setslackdetails" method="post">
                            <div class="form-group">
                                <label for="webhook-url">Webhook URL</label>
                                <input type="text" class="form-control" id="webhook-url" name="webhook_url" placeholder="https://hooks.slack.com/services/T00000000/B00000000/XXXXXXXXXXXXXXXXXXXXXXXX">
                            </div>
                            <div class="form-group">
                                <label for="slackbot-name">Slackbot Name</label>
                                <input type="text" class="form-control" id="slackbot-name" name="slackbot_name" placeholder="slacktivity-bot">
                            </div>
                            <button type="submit" class="btn btn-primary">Save Changes</button>
                        </form>
                    </div>
                </div>

                <div class="card">
                  <div class="card-block">
                      <b>Monitored Sites</b> <a data-toggle="collapse" id="addButton" onclick="addButton();" href="#addBtnCollapse" aria-expanded="false" aria-controls="addBtnCollapse" class="card-link pull-lg-right">Add Site</a>
                  </div>

                    <div class="list-group" id="monitoredSitesList" role="tablist" aria-multiselectable="true">

                      <div class="collapse" id="addBtnCollapse">
                      <div  class="card card-block collapse-card-block list-group-item-within-card add-site-card">
                        <div class="form-group"><label for="website-url">Website URL</label><input type="url" class="form-control" name="website_url" id="website-url" value="http://localhost:8000/"><small id="website-url-help" class="form-text text-muted">This is the URL of the website you want to monitor.</small></div>
                        <div class="form-group"><label for="search-term">Search Term</label><input type="text" class="form-control" name="search_term" id="search-term" placeholder="" value="MAGA"><small id="search-term-help" class="form-text text-muted">You won't be notified unless there's a match for this term. If you want to be notifed when any change is made to the page, leave this field blank.</small></div>
                        <button type="submit" class="btn btn-primary">Save Changes</button>
                      </div>
                    </div>



                    <% for(var i=0; i<monitored_sites.length; i++){ %>

                      <% var divID = 'collapse-' + monitored_sites[i].id; %>

                    <a href="#<%=divID%>" id="link-for-<%=divID%>" class="list-group-item list-group-item-action list-group-item-within-card" data-parent="#monitored-sites-accordion" data-toggle="collapse"  onclick="applyActiveStyling('link-for-<%=divID%>');" aria-expanded="false" aria-controls="<%=divID%>"><%=monitored_sites[i].url%></a>
                    <div class="collapse" id="<%=divID%>" role="tabpanel">
                        <div class="card card-block collapse-card-block list-group-item-within-card">
                            <div class="form-group">
                                <label for="website-url">Website URL</label><input type="url" class="form-control" name="website_url" id="website-url" value="<%=monitored_sites[i].url%>">
                                <small id="website-url-help" class="form-text text-muted">This is the URL of the website you want to monitor.</small>
                            </div>
                            <div class="form-group">
                                <label for="search-term">Search Term</label><input type="text" class="form-control" name="search_term" id="search-term" placeholder="" value="<%=monitored_sites[i].search_term%>">
                                <small id="search-term-help" class="form-text text-muted">You won't be notified unless there's a match for this term. If you want to be notifed when any change is made to the page, leave this field blank.</small>
                            </div>
                            <button type="submit" class="btn btn-primary">Save Changes</button>
                        </div>
                    </div>

                      <%}%>




                </div>

            </div>
        </div>
    </body>
</html>
